*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #ca8383;
}


/* navbar */
.navbar ul{
  display: flex;
  background-color: #581216;
  position: sticky;
  top: 0;

  width: 100%;
  height: 40px;

  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a {
  display: block; 
  color: white;
  text-decoration: none;
  padding: 10px 15px;   /* fixed */
  text-align: center;
  transition: 0.3s;     /* fixed */
}

.navbar ul li a:hover{
  background-color: #ba3e50;
  border-radius: 5px;
}



/* chatbox */
.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 250px;
  background: #350f04;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.chat-header {
  background: #192c41;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
  background: #581216;
}

.message {
  padding: 5px;
  margin: 8px 0;
  border-radius: 10px;
  max-width: 100px;
}

.user {
  background: #ffffff;
  color: rgb(0, 0, 0);
  margin-left: auto;
  text-align: right;
}

.bot {
  background: #e5445c;
  color: black;
  margin-right: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f1f1f1;
  width: 10px;
  height: 5px;
}

.chat-input button {
  margin-left: 2px;
  padding: 3px 3px;
  border: none;
  background:	#e5445c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background: #0056b3;
}
