*{
  padding: 0;
  margin: 0;
}

.parent{
  display: flex;
  height: fit-content;
  border: 3px double black;
  justify-content: space-between;
  width: 500px;
}

/* using border box makes website responsive */
/* pretty much safe option to always apply */

.box1 {
  height: 100px;
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;
}

.box2 {
  height: 100px;
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;
}