*{
  margin: 0;
  padding: 0;
}

/* display inline property - forces div to only take space require to fit in the content all the height,width and top and down margin and padding are ignored once inline property is used */

.box1{
  background-color: red;
  margin: 10px;
  width: 200px;
  height: 200px;
  display: inline;
  padding-left: 30px; 
  padding-top: 40px;   /* top and bottom padding are ignored */
}
.box2{
  background-color: aqua;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline;
}

/* inline-block is similar to inline it only takes required space but it respect all the other
properties , also it allows element to sit next to each other */

.box3{
  background-color: purple;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

/* display none removes the element from the document also it dont just hide it but remove it 
meaning it wont take up any space */

.box4{
  background-color: purple;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: none;
}

/* visiblity property is used to hide element but also it reamaisn there with reserved space */


