.box1{
  background-color: brown;
  width: 150px;
  height: 150px;
  text-decoration: underline;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
}
.box2{
  background-color: pink;
  width: 150px;
  height: 150px;
  text-decoration: underline dashed;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
}

.box3{
  background-color: aqua;
  width: 150px;
  height: 150px;
  text-decoration: underline double;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
}

.box4{
  background-color: red;
  width: 150px;
  height: 150px;
  text-decoration: overline double black;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px;
}
